

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>feed</title>
    </head>
    <body>
        <h1>Impressum</h1>
        <h2 id="m46">Diensteanbieter</h2>
        <p>Konrad Amtenbrink</p>
        <p>Derfflingerstr. 19A</p>
        <p>Berlin</p>
        <p>Germany</p>
        <h2 id="m56">Kontaktmöglichkeiten</h2>E-Mail-Adresse: <p>mail@konrad-amtenbrink.com</p>
    </body>
</html>