<!DOCTYPE html>
<html lang="en">
    <head>
        <title>feed</title>

        <script src="/static/js/grid.js"></script>
        <link rel="stylesheet" href="/static/styles/styles.css" />
        <script src="https://unpkg.com/flowbite@1.5.2/dist/datepicker.js"></script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css"
        />
        <script src="/static/js/upload.js"></script>
        <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (
                localStorage.getItem('color-theme') === 'dark' ||
                (!('color-theme' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>
    <body class="bg-white dark:bg-gray-900 m-10" onload="onLoad()">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Expand your <span class="text-blue-600 dark:text-blue-500">personal knowledge</span>.</h1>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 mb-8">
            Here at Oaks Studio we believe that the best way to learn is to learn from others.
        </p>
        <a
            type="button"
            href="/create"
            class="absolute top-3 right-2 py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 dark:bg-gray-700
            m-10"
            
        >
            Create
        </a>
        <div id="files" class="grid gap-4 grid-cols-3 grid-rows-3">
        </div>
    </body>
</html>