<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google Calendar Speeddating</title>

        <link rel="stylesheet" href="/static/styles.css" />
        <script src="https://unpkg.com/flowbite@1.5.2/dist/datepicker.js"></script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css"
        />
        <script src="/static/js/upload.js"></script>
        <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (
                localStorage.getItem('color-theme') === 'dark' ||
                (!('color-theme' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>
    <body class="bg-white dark:bg-gray-900">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
            >
                Create Event
            </h2>
            <form id="event" class="space-y-8">
                <div>
                    <label
                        for="title"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        >Title</label
                    >
                    <input
                        type="text"
                        id="title"
                        class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                        placeholder="Let us know what the file is about"
                        required
                    />
                </div>
                <div>
                    <label
                        for="title"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        >File</label
                    >
                    <input type="file" id="file" /> 
                </div>
                <button
                    type="button"
                    onclick="uploadFile()"
                    class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 dark:bg-gray-700"
                >
                    Upload file
                </button>
            </form>
        </div>
    </body>
</html>