<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Konrad Amtenbrink - feed</title>

        <script src="/static/js/view.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
    </head>
    <body class="bg-white dark:bg-gray-900 dark:text-gray-300" onload="retrieveFile()">
        <zero-md id="content" src="">
            <script  type="text/markdown"></script>
        </zero-md>
    </body>
</html>