<!DOCTYPE html>
<html lang="en">
    <head>
        <title>feed</title>

        <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
        <link rel="stylesheet" href="/static/styles/styles.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css"
        />
        <script src="/static/js/view.js"></script>
        <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
    </head>
    <body class="bg-white dark:bg-gray-900 dark:text-gray-300 w-2/3 absolute left-1/2 -translate-x-1/2 mt-8" onload="onLoad()">
        <zero-md id="content" src="">
            <script  type="text/markdown"></script>
        </zero-md>
    </body>
</html>